body {
    background: #e2e2e2;
    font-family: 'Poppins', sans-serif;
    outline: none;
    background-size: cover;
    background-position: top;
    overflow-x: hidden;
}

.header-menu.fixed {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    overflow-y: auto;
}

#carregando {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: #9ccdcb;
    background-image: url(https://leem.net.br/public/img/ajax-loader.gif);
    background-position: center;
    background-repeat: no-repeat;
    z-index: 99999;
}

.bg-black {
    background: #1a1a1a !important;
}

.text-black,
.bg-green,
.bg-blue {
    color: #1a1a1a !important;
}

.bg-green {
    background: #c0e0cb !important;
}

.bg-green-dark {
    background: #5a851b !important;
}

.bg-blue {
    background: #9ccdcb !important;
}

.text-blue {
    color: #9ccdcb !important;
}

.text-light {
    color: #dde8de !important;
}

.border-blue {
    border: 1px solid #9ccdcb !important;
}

.bg-transparent {
    background: rgba(42, 42, 42, 0.35) !important;
}

.shadow-md {
    -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.35);
}

#navbarSupportedContent .navbar-nav .nav-item:hover {
    background: #5a851b !important;
}

.busca {
    position: fixed;
    -webkit-transition: all linear 0.26s;
    transition: all linear 0.26s;
    opacity: 0;
    z-index: 9999;
    top: 1%;
    left: 20%;
    right: 20%;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    margin: auto;
}

.busca.active {
    left: 1%;
    right: 1%;
    -webkit-transition: all linear 0.26s;
    transition: all linear 0.26s;
    opacity: 1;
    visibility: visible;
}

@media screen and (max-width: 580px) {
    .busca.active {
        top: 0;
        left: 0;
        right: 0;
    }
}

.busca input,
.busca button {
    border-radius: 50px !important;
    background: #ffffff !important;
    height: 45px;
}

.busca button {
    border-radius: 50px !important;
    width: 45px;
}

.menu-back {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 1051;
    visibility: hidden;
    -webkit-transition: all linear 0.26s;
    transition: all linear 0.26s;
}

.menu {
    width: 300px;
    height: 100%;
    position: fixed;
    top: 0;
    right: -100%;
    bottom: 0;
    overflow-y: auto;
    z-index: 1052;
    opacity: 0;
    -webkit-transition: all linear 0.4s;
    transition: all linear 0.4s;
    font-size: 1.2em;
}

.menu.ativo {
    right: 0;
    opacity: 1;
    -webkit-transition: all linear 0.26s;
    transition: all linear 0.26s;
}

.menu-back.ativo {
    visibility: visible;
    opacity: 1;
    -webkit-transition: all linear 0.26s;
    transition: all linear 0.26s;
}

#menu .nav-item:hover {
    color: #ffffff !important;
}

#menu .nav-item:hover .nav-link {
    color: #ffffff !important;
}

#menu .nav-item.active {
    font-weight: 700;
}

#menu .nav-item.active .nav-link {
    color: #ffffff !important;
}

.btn,
.form-control,
input,
button,
select,
textarea,
.custom-file-label {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.custom-file-label {
    border: none !important;
}

.slick-arrow {
    height: 100%;
    background-color: transparent;
    border-radius: 50px;
    z-index: 10;
}

.slick-arrow:before {
    color: #ffffff;
    font-size: 25px;
}

.slick-prev {
    left: 10px !important;
}

.slick-next {
    right: 10px !important;
}

.slick-prev,
.slick-next {
    font-weight: bold;
}

.slick-prev:before {
    content: "<";
    left: 0 !important;
}

.slick-next:before {
    content: ">";
    right: 5px !important;
}

.custom-file-label::after {
    content: "Procurar";
    border: none !important;
    background: #9ccdcb !important;
    color: #1a1a1a;
    border-radius: 0;
    cursor: pointer;
}

#btnFoto {
    margin-left: 5px;
}

.border-dashed {
    border-bottom: 1px dashed #ffffff;
}

.modal-content,
.card {
    border: none !important;
}

.menu-admin,
.admin-conteudo {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-y: auto;
}

.menu-admin {
    left: 0;
    z-index: 1050;
}

.admin-conteudo {
    right: 0;
}

.modal {
    z-index: 1052 !important;
}

.modal-backdrop {
    z-index: 1051 !important;
}

@media screen and (max-width: 768px) {
    .menu-admin {
        height: auto !important;
        display: none !important;
    }
    .menu-admin.ativo {
        display: block !important;
    }
}

.circle {
    padding: 13px 20px;
    border-radius: 50%;
    background-color: #ED8D8D;
    color: #fff;
    max-height: 50px;
    z-index: 2;
}

.how-it-works.row .col-2 {
    -ms-flex-item-align: stretch;
    align-self: stretch;
}

.how-it-works.row .col-2::after {
    content: "";
    position: absolute;
    border-left: 3px solid #ED8D8D;
    z-index: 1;
}

.how-it-works.row .col-2.bottom::after {
    height: 50%;
    left: 50%;
    top: 50%;
}

.how-it-works.row .col-2.full::after {
    height: 100%;
    left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
    height: 50%;
    left: 50%;
    top: 0;
}

.timeline div {
    padding: 0;
    height: 40px;
}

.timeline hr {
    border-top: 3px solid #ED8D8D;
    margin: 0;
    top: 17px;
    position: relative;
}

.timeline .col-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.timeline .corner {
    border: 3px solid #ED8D8D;
    width: 100%;
    position: relative;
    border-radius: 15px;
}

.timeline .top-right {
    left: 50%;
    top: -50%;
}

.timeline .left-bottom {
    left: -50%;
    top: calc(50% - 3px);
}

.timeline .top-left {
    left: -50%;
    top: -50%;
}

.timeline .right-bottom {
    left: 50%;
    top: calc(50% - 3px);
}

.img-fluid {
    width: 100%;
}

.cronograma::after {
    width: 3px;
    height: 100px;
    background: #dc3545 !important;
    content: "";
}

.materia img,
.materia figure,
.materia figure img {
    width: 50%;
    max-width: 100% !important;
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.text-destaque {
    border-left: 8px solid #fff;
    min-height: 15rem;
}

.materia figure img {
    width: 100%;
}

.perfil-left-imagem{
    border-radius: 10px;
    background: #e5e8e7;
}

.perfil-left-imagem figure{
    width: 200px;
    height: 200px;
}

@media screen and (max-width: 580px) {
    .avatar {
        width: 100%;
        height: auto;
    }
    header {
        max-height: 100%;
        overflow-y: auto;
    }
}

.materia-imagem {
    height: 200px;
}

@media screen and (min-width: 767px) {
    .materia-imagem {
        height: 200px;
    }
    .materia img,
    .materia figure,
    .materia figure img {
        width: 100%;
        margin-right: 0;
    }
    .text-destaque {
        border-left: none !important;
        padding-top: 1rem;
    }
    .materia-imagem {
        height: 200px;
    }
    .destaque {
        background-size: contain;
    }
}

@media screen and (min-width: 1024px) {
    .perfil-left-imagem figure {
        width: 200px !important;
        height: 200px !important;
    }
    .materia-imagem {
        height: 140px;
    }
}

#form_busca {
    padding: 0 !important;
}

::selection {
    background-color: #343a40;
    color: #ffffff;
}

::-webkit-selection {
    background-color: #343a40;
    color: #ffffff;
}

::-webkit-scrollbar {
    height: 8px;
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #dadada;
}

::-webkit-scrollbar-thumb {
    background: #343a40;
}

::-webkit-scrollbar-thumb:hover {
    background: #202124;
}

.destaque {
    background-size: cover !important;
}

.titulo-categoria {
    border-bottom: 5px solid #313131;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-transform: uppercase;
}

h1,h2,h3,h4,h5,h6,strong{
    font-weight: 700 !important;
}

.icon-aspas{
    width: 80px;
    position: absolute;
    margin: 1.5rem 5.5rem;
}

.icon-aspas-left{
    top: 0;
    left: 0;
}

.icon-aspas-right{
    right: 0;
    bottom: 0;
}

@media screen and (max-width: 520px){
    .icon-aspas {
        margin: 1.8rem 0.5rem !important;
        width: 40px !important;
    }
}

@media screen and (max-width: 767px){
    .icon-aspas {
        margin: 1.8rem 0.0rem;
        width: 60px;
    }

}

@media screen and (min-width: 767px){
    .miniatura .pesquisa, .container-materias .row .col-12{
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.container-materias .row .col-12 header,
.container-materias .row .col-12 main{
    padding: 10px;
}

@media screen and (min-width: 1200px){
    .miniatura .pesquisa{
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        max-width: 50%;
    }
}

@media screen and (max-width: 991px){
    .icon-aspas {
        margin: 1.8rem 0.8rem;
    }
}

.border-lg{
    border: 5px solid;
}

.icon-social{
    width: 38px;
    height: 38px;
    border-radius:50%;
}

.bg-section{
    background: #e5e8e7;
}

.rounded-lg{
    border-radius: 10px;
}

.pais{
    cursor: pointer;
}

.pais img{
    width: 45px;
    margin: 5px;
}
